bin/
vendor/
*.zip
.env

# Go
*.out
*.test
*.prof

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.vercel

# Plugin binaries
*.so
plugins/tools/*/bash
plugins/tools/*/build-release
plugins/tools/*/fs
plugins/tools/*/read
plugins/tools/*/write
plugins/tools/*/web-search
