go 1.24.0

use (
	./agent
	./agent-api
	./agent-client
	./cli
	./core
	./plugins/tool-bash
	./plugins/tool-read
	./plugins/tool-web-search
	./plugins/tool-write
)

replace (
	github.com/quarkloop/agent v0.0.0 => ./agent
	github.com/quarkloop/agent-api v0.0.0 => ./agent-api
	github.com/quarkloop/agent-client v0.0.0 => ./agent-client
	github.com/quarkloop/cli v0.0.0 => ./cli
	github.com/quarkloop/core v0.0.0 => ./core
	github.com/quarkloop/plugins/tool-bash v0.0.0 => ./plugins/tool-bash
	github.com/quarkloop/plugins/tool-read v0.0.0 => ./plugins/tool-read
	github.com/quarkloop/plugins/tool-web-search v0.0.0 => ./plugins/tool-web-search
	github.com/quarkloop/plugins/tool-write v0.0.0 => ./plugins/tool-write
)
