go 1.25.0

use (
	./agent
	./cli
	./e2e
	./pkg/plugin
	./pkg/space
	./pkg/toolkit
	./plugins/providers/anthropic
	./plugins/providers/openai
	./plugins/providers/openrouter
	./plugins/tools/bash
	./plugins/tools/build-release
	./plugins/tools/fs
	./plugins/tools/web-search
	./supervisor
)

replace (
	github.com/quarkloop/agent v0.0.0 => ./agent
	github.com/quarkloop/cli v0.0.0 => ./cli
	github.com/quarkloop/pkg/plugin v0.0.0 => ./pkg/plugin
	github.com/quarkloop/pkg/space v0.0.0 => ./pkg/space
	github.com/quarkloop/pkg/toolkit v0.0.0 => ./pkg/toolkit
	github.com/quarkloop/plugins/providers/anthropic v0.0.0 => ./plugins/providers/anthropic
	github.com/quarkloop/plugins/providers/openai v0.0.0 => ./plugins/providers/openai
	github.com/quarkloop/plugins/providers/openrouter v0.0.0 => ./plugins/providers/openrouter
	github.com/quarkloop/plugins/tools/bash v0.0.0 => ./plugins/tools/bash
	github.com/quarkloop/plugins/tools/build-release v0.0.0 => ./plugins/tools/build-release
	github.com/quarkloop/plugins/tools/fs v0.0.0 => ./plugins/tools/fs
	github.com/quarkloop/plugins/tools/web-search v0.0.0 => ./plugins/tools/web-search
	github.com/quarkloop/supervisor v0.0.0 => ./supervisor
)
